.canvas {
  border: 3px solid black;
  position: absolute;
  top: 50%;
  height: 1000px;
  width: 500px;
  transform: translate(-50%, -50%);
}

#canvas1 {
  left: 13%;
}

#canvas2 {
  left: 37.5%;
}

#canvas3 {
  left: 62.5%;
}

#canvas4 {
  left: 87%;
}